<a href='/user_ingredients/add/<%=user_ingredient.ingredient_id%>' class='highlightable'>
  <li id=<%=dom_id(user_ingredient)%> class='highlightable'>

    <div class='section'><%=user_ingredient.ingredient.name%></div>
    <div class='section'><%=user_ingredient.qty%></div>
    <div class='section'><%=user_ingredient.unit%></div>



    <div class='last'><%=link_to_remote 'X', :url =>destroy_user_ingredient_path(user_ingredient.id)%></div>
  </li>
</a>
