<a href='/user_ingredient/<%=user_ingredient.id%>' class='highlightable'>
  <li id=<%=dom_id(user_ingredient)%> class='highlightable'>

    <div class='section'>Name: <%=user_ingredient.ingredient.name%></div>
    <div class='section'>Quantity: <%=user_ingredient.qty%></div>
    <div class='section'>Unit: <%=user_ingredient.unit%></div>



    <div class='last'><%=link_to_remote 'X', :url =>{:action => 'destroy', :id => user_ingredient.id}%></div>
  </li>
</a>