<h1> <%=@user_ingredient.ingredient.name%> </h1>

<% form_for(@user_ingredient) do |f| %>
  <%= f.error_messages %>


<p>
    <%= f.label :Quantity %><br />
    <%= f.text_field :qty %>
  </p>
  <p>
    <%= f.label :Unit %><br />

    <%= f.select(:unit, ['ounce','lbs','kg','g','L', 'mL', 'tablespoons','teaspoons','cups','inch','whole','cloves','pinch']) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_ingredient %> |
<%= link_to 'Back', user_ingredients_path %>