<h1>New user_ingredient</h1>

<% form_for(@user_ingredient) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>

  </p>
  <p>
    <%= f.label :ingredient_id %><br />
    <%= f.text_field :ingredient_id %>
  </p>
  <p>
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', user_ingredients_path %>