
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tablesorter' %>

  <script>
    $(document).ready(function() {
      $("#searchTable").tablesorter();
    });
  </script>
<% end %>



<% form_for :search, {:controller => 'search', :action => 'show'} do |f|%>
  <select name="search[type]">
    <option value="title">Title Search</option>
    <option value="ingredient">Ingredient Search</option>
  </select>
  <%= f.text_field :query %>
  <%= submit_tag "Search!" %>
<% end %>


<%if @results.empty?%>
  <%if @searchfor%>
    </br>
    <b>Your Search For '<%=@searchfor%>' Returned 0 Results</b>
  <%end%>
<%else%>
  <div id="table">
    <%= render :partial => "search_table" %>
  </div>


<%end%>