<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tablesorter' %>
  <%= javascript_include_tag 'jquery.tablesorter.pager' %>

  <script>
    $(document).ready(function() {
      $("#auto_search_results_table")
      .tablesorter({
        //By default, sort list by descending order of matching ingredients.
        //[3=column, 1 = descending order]
        sortList: [[3,1], [4,1]]
      });
    });
  </script>
<% end %>


<table id="auto_search_results_table">
  <thead>
    <tr>
      <th></th>
      <th><a href="">Recipe Title</a></th>
      <th><a href="">Prep Time (min)</a></th>
      <th><a href="">Matching # Ingredients</a></th>
      <th><a href="">Rating</a></th>
      <th></th>
    </tr>
  </thead>  

  <tbody>
    <% for result in @auto_results %>
      <% recipe = Recipe.find(result[0]) %>
      <% matches = result[1] %>
      <% rating_results = RecipeRating.find(:all, :conditions => ["recipe_id = ?", recipe.id]) %>
      <% rating = "N/A" %>
      <% if !rating_results.empty? %>
        <% rating_sum = 0%>
        <%for rat in rating_results%>
            <%rating_sum = rating_sum + rat.rating%>
        <%end%>

        <%rating = 0%>
        <%rating = rating_sum / rating_results.size%>
      <%end%>
      <tr>
        <td><%= image_tag recipe.photo.url(:thumb) %></td>
        <td><%= link_to recipe.title, recipe_path(recipe.id) %></td>
        <td><%= recipe.prep_time.to_i()%></td>
        <td><%= matches%></td>
        <td><%= rating %></td>
        <td>
          <%if rating.instance_of? Fixnum %>
            <%rating.times{  %>
            <img src="/images/rating_star.png"></img>
            <%} %>
          <%end%>
          
        </td>
      </tr>

    <%end%>
  </tbody>
</table>

