<h3><%=@recipe.title%></h3>

<% if @recipe.photo.exists? then %>
<%= image_tag @recipe.photo.url(:medium) %>
<%end%>
<br />
Description:
<%=@recipe.overview%>
<br />
Prep Time:
<%=@recipe.prep_time%> &nbsp; Minutes
<br />

<%= form_tag :action => "adjust_ingredient_amt", :id => @recipe.id%>
Yield:
<%= text_field :new_qty, :qty, :size => 3, :value=>@serving_qty %>  Serving(s) 
<%= submit_tag "Adjust Quantity"%>
</form>

<h4>Ingredients</h4>

<table RULES=ROWS>
<tr>
<td width="20%">
<%for ingredient in @recipe.ingredients%> 
  <%= ingredient.name%><br/>
<%end%>
</td>
<td width="20%">
<%for recipe_ingredient in @recipe.recipe_ingredients%>
  <%= @serving_qty*recipe_ingredient.qty %>&nbsp;&nbsp;(<%=  recipe_ingredient.unit%>)<br/>
<%end%>
</td>
</tr>
</table>

<h4>Instructions</h4>
<ol>
  <%for instruction in @recipe.recipe_instructions%>
    <li>
      <%=instruction.instruction_text%>
    </li>
  <%end%>
</ol>