<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tokeninput' %>
  <%= stylesheet_link_tag 'token-input'  %>  
<% end %>

<h2>Contribute A Recipe</h2>

<%form_for @recipe, :action => 'create', :html => { :multipart => true } do |f|%>
  <%=f.error_messages%>
  <%=hidden_field_tag 'recipe[approved]', 'false' %>
  <%=f.label :title%>
  <%=f.text_field :title%>
  
  <%=f.label :overview, 'Description'%>
  <%=f.text_area :overview, :rows => 5%>
  
  <%=f.label :prep_time%>
  <%=f.text_field :prep_time, :size => 10%> &nbsp; Minutes

  <%=f.label :serving_qty, 'Serves'%>
  <%=f.text_field :serving_qty, :size => 3%> &nbsp; People

  <%= render :partial => 'form', :locals => { :f => f } %>

  <br />
  <h4>Ingredients</h4>
  <%= render :partial => 'select_ingredients'%>
  <br />
  <h4>Instructions</h4>
  <ol id='instructions'>
  <%= render :partial => 'recipe_instructions/new'%>
  </ol>
  <%=link_to_remote 'Add Another Instruction', :url => {:action => 'add_instruction'}%>
  <%=f.submit%>
<%end%>