<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tokeninput' %>
  <%= stylesheet_link_tag 'token-input'  %>  
 
<% end %>

<h2>Contribute A Recipe</h2>

<%form_for @recipe, :action => 'create', :html => { :multipart => true } do |f|%>
  <%=f.error_messages%>
  <%=hidden_field_tag 'recipe[approved]', 'false' %>
  <table>
  <tr><td><%=f.label :title%></td>
  <td><%=f.text_field :title%></td></tr>
  
  <tr><td><%=f.label :overview, 'Description'%></td>
  <td><%=f.text_area :overview, :style => 'height:60px'%></td></tr>
  
  <tr><td><%=f.label :prep_time%></td><td>
  <%=f.text_field :prep_time, :size => 10%> &nbsp; Minutes</td>
</tr>
  <tr><td><%=f.label :serving_qty, 'Serves'%></td>
  <td><%=f.text_field :serving_qty, :size => 3%> &nbsp; People</td></tr>

  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <tr>
  <td><%=f.label :ingredients%></td>
  </tr>
  </table>
  <div id='ingredients'>
  <%= render :partial => 'recipe_ingredients/new'%>
  </div>
  <%=link_to_remote 'Add Another Ingredient', :url => {:action => 'add_ingredient'}%>
  <br /><br />
  <%=f.label :instructions%>
  <ol id='instructions'>
  <%= render :partial => 'recipe_instructions/new'%>
  </ol>
  <!-- </ol> -->
  <%=link_to_remote 'Add Another Instruction', :url => {:action => 'add_instruction'}%>
  <br />
  <%=f.submit%>
<%end%>