<%if current_user%>
  <%if current_user.is_admin%>
    <%=link_to 'Delete', delete_recipe_path(@recipe.id)%>
    <%if @recipe.approved == false%>
      | &nbsp; <%=link_to 'Approve', :action => 'approve', :id => @recipe.id%>
    <%end%>
  <%end%>
<%end%>
<%= render :partial => "recipe", :object => @recipe %>

<h4>Comments</h4>
   <% for comment in @recipe.recipe_comments %>
      <%= comment.comment %>
      <hr />
<% end %>

<%= form_tag :action => "comment", :id => @recipe %>
   <%= text_area "comment", "body", :rows => 3 %><br />
   <%= submit_tag "Comment" %>
</form>
