<%if current_user%>
  <%if current_user.is_admin%>
    <%=link_to 'Delete', delete_recipe_path(@recipe.id), :confirm => "Are you sure you want to delete this recipe?"%>
    | &nbsp; <%=link_to 'Edit', edit_recipe_path(@recipe.id)%>
    <%if @recipe.approved == false%>
      | &nbsp; <%=link_to 'Approve', :action => 'approve', :id => @recipe.id%>
    <%end%>
    | &nbsp;  <%=link_to("Back", request.env["HTTP_REFERER"])%>
  <%end%>
<%end%>
<%= render :partial => "recipe", :object => @recipe %>

<h4>Average Rating</h4>
<div>
<% if @recipe_avg_rating == 0 %>
<p>No ratings for this recipe. Please login to rate it.<% if current_user %>Be the first to rate it!<%end%></p>
<%end%>
<%@recipe_avg_rating.times{  %>
<img src="/images/rating_star.png"></img>
<%} %>
</div>

<%if current_user %>
<h4>
Rate this recipe
</h4>
<%= form_tag :action => "rate", :id => @recipe.id %>
<select name="rate[rating]">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
<%= submit_tag "Rate!" %>
</form>
<%end%>

<h4>Comments</h4>
   <ul id='items_list' class='ajax_list'>
     <%=render :partial => 'recipe_comment', :collection => @recipe_comments%>
   </ul>
<br />
<%if current_user%>
  <%= form_tag :action => "comment", :id => @recipe %>
     <%= text_area "comment", "body", :rows => 3 %><br />
     <%= submit_tag "Comment" %> 
  </form>
<br>

  <%= form_tag :action => "makeit", :id => @recipe %>
     <%= submit_tag "Let's Make it!" %>
  </form>
 
<%end%>
