
<h1><b> <%=@grocery_ingredient.ingredient.name%> </b></h1>

<p>
  <b>Qty:</b>
  <%=h @grocery_ingredient.qty %>
</p>

<p>
  <b>Unit:</b>
  <%=h @grocery_ingredient.unit %>
</p>

<p>
  <b>Created at:</b>
  <%=h @grocery_ingredient.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @grocery_ingredient.updated_at %>
</p>


<%= link_to 'Edit', edit_grocery_ingredient_path(@grocery_ingredient) %> |
<%= link_to 'Back', grocery_ingredients_path %>