<!-- <div class='user_bar'>

<% if logged_in? -%>
  <div id="user-bar-greeting">Logged in as <%# link_to_current_user :content_method => :login %></div>
  <div id="user-bar-action"  >(<%# link_to "Log out", logout_path, { :title => "Log out" }    %>)</div>
<% else -%>
  <div id="user-bar-greeting"><%# link_to_login_with_IP 'Not logged in', :style => 'border: none;' %></div>
  <div id="user-bar-action"  ><%# link_to "Log in",  login_path,  { :title => "Log in" } %> /
                               <%# link_to "Sign up", signup_path, { :title => "Create an account" } %></div>
<% end -%> -->

<div class='user_bar span-20 last'>
  <% if logged_in?%>
    <% if current_user.is_admin? %>
      <%=link_to 'Manage Site', :controller => :admin, :action => :index %>
    <% end %>
    logged in as <%=link_to current_user.login, home_path%> (<%=link_to 'logout', logout_path%>)
    <%=link_to 'My Kitchen', {:controller => 'user_ingredients', :action => 'index'}%>
  <%else%>
    <%=link_to 'login', login_path%> | <%=link_to 'signup', signup_path%>
  <%end%>
</div>
