<li id=<%=dom_id(user)%> class='highlightable'>
    <a href='/users/edit/<%=user.id%>' class='highlightable'>
    <div class='user_id_section'>ID: <%=user.id%></div>
    <div class='user_username_section'>username: <%=user.login%></div>
    <div class='user_email_section'>email: <%=user.email%></div>
    <div class='last'><%=link_to_remote 'X', :url =>{:action => 'destroy', :id => user.id}%></div>
</li>
