<tr id=<%=dom_id(user)%> class='highlightable'>
    <td class='user_id_section'><%=user.id%></td>
    <td class='user_username_section'><%=user.login%></td>
    <td class='user_email_section'><%=user.email%></td>
    <td class='user_active_section'>
	  <%if user.active?%>
	    Activated
	  <%else%>
	    Not Activated
	  <%end%>
	</td>
	<td class='user_category_section'>
	  <%if user.is_admin?%>
  	    Admin
	  <%else%>
 	    Regular
	  <%end%>
	</td>
	<td class='last'><%=link_to 'Edit', :action => 'edit', :id => user.id%>
    <td class='last'><%=link_to_remote 'X', :url =>{:action => 'destroy', :id => user.id}%></td>
</tr>
