<h2>Change Password</h2>
<%form_for @user, :url => {:action=>'update_password', :id=>@user.id} do |f|%>
<%=f.error_messages%>
  <%=f.label :password%>
  <%=f.password_field :password%>
  
  <%=f.label :password_confirmation%>
  <%=f.password_field :password_confirmation%>
  <br />
  <%=f.submit%>
<%end%>