  <li id=<%=dom_id(ingredient)%> class='highlightable'>
<a href='/ingredients/<%=ingredient.id%>' class='highlightable'>
    <div class='section'>Name: <%=ingredient.name%></div>
    <div class='section'><%=link_to_remote 'edit', :url => edit_ingredient_path(ingredient.id)%></div>
    <div class='last'><%=link_to_remote 'X', :url =>delete_ingredient_path(ingredient.id)%></div>  </li>
