<head>
  <%=stylesheet_link_tag 'style'%>
  <%= yield :head %>
</head>

<body>
<div id='header'>
  <div class='content'>
    <%= render :partial=> 'users/user_bar'%>
    <br class='clear'>
    <a href='/'>
    <div id='logo_box'>
    <div id='logo'>
    </div>
    </div>
    </a>
    
    <div class='header_link_container'>
    <%=link_to 'Whats For Dinner', '#', :class => 'header_link'%>
    <%=link_to 'Recipes', '#', :class => 'header_link'%>
    <%=link_to 'Contribute', '#', :class => 'header_link'%>
    </div>
  </div>
</div>
<br class='clear'>
<div id='main_content' class='content'>
  <%=yield%>
</div>
</body>